<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Automation/webUI/src/test/java/testScripts">
        <classes>
            <class name="testScripts.TestSpaceManagement">
                <methods>
                    <include name="testNewSpace"/>
                    <include name="testDeleteSpace"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
</suite>